$utilities: (
  "bg": (
    property: background-image,
    values: (
      custom: $gradient-linear,
      radial: $gradient-radial,
    )
  ),
  "opacity": (
    property: opacity,
    values: (
      0: 0,
      25: .25,
      50: .5,
      75: .75,
      100: 1,
    )
  ),
 );