<nav class="navbar navbar-expand-lg navbar-light bg-primary py-4 border-bottom border-white ">
    <div class="container-xxl">
      <h1><a class="navbar-brand text-white text-custom fz-" href="./index.html" style="font-size: 32px;">ALPHABOX+</a></h1>
      
      <button class="navbar-toggler border-0 rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-md-10">
          <li class="nav-item">
            <a class="nav-link text-white"  href="#">產品</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="./about.thml">關於我們</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-white" href="#">最新消息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-white" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-white" href="#">聯絡我們</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 gap-md-6">
            <li class="nav-item">
              <a class="nav-link text-white"  href="#">註冊</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">登入</a>
            </li>
            <li class="nav-item d-flex justify-content-center">
              <a class="nav-link  btn-sub fw-bold" href="#"><span class="material-symbols-outlined">
                point_scan
                </span>訂閱</a>
            </li>
          </ul>
      </div>
    </div>
</nav>