.bg-primary{
  background: #6d01f7;
}
.bg-custom{
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/home_background.png?raw=true');
    height: calc(90vh);
    background-size: cover;
  }
  .bg-custom2{
    background-image: url('https://github.com/HotDogCat0228/2023-week8/blob/gh-pages/assets/carousel_background-9881d586.png?raw=true'),url('https://github.com/HotDogCat0228/2023-week8/blob/gh-pages/assets/Rectangle%2018-f43b96af.png?raw=true');
    height: 1080px;
    background-size: contain;
    background-repeat: no-repeat, no-repeat;
  }
  .bg-custom3{
    background-image: url('https://github.com/HotDogCat0228/2023-week8/blob/gh-pages/assets/Rectangle%2018-f43b96af.png?raw=true');
    height: 1080px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .bg-custom4{
    background-image: url('https://github.com/HotDogCat0228/2023-week8/blob/gh-pages/assets/ALPHABOX_-f83e6877.png?raw=true'),url('https://github.com/HotDogCat0228/2023-week8/blob/gh-pages/assets/Rectangle%2023-1e7bf56f.png?raw=true');
    height: 1080px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat, no-repeat;
  }
  .bg-custom5{
    background: #1F0F39;
  }
  .bg-custom6{
    background-image: url('https://github.com/HotDogCat0228/2023-week8/blob/gh-pages/assets/Rectangle%2018-f43b96af.png?raw=true');
    height: 944px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  @media (max-width:992px){
    .bg-custom{
      height: 1200px;
    }
    .bg-custom2{
      background-image: url('https://github.com/HotDogCat0228/2023-week8/blob/gh-pages/assets/Rectangle%2019-1d9e1259.png?raw=true');
      background-size: cover;
      height: 600px;
    }
    .bg-custom3{
      background-image: url('https://github.com/HotDogCat0228/2023-week8/blob/gh-pages/assets/Rectangle%2024-ef47c490.png?raw=true');
      height: 900px;
    }
    .bg-custom4{
      background-image: url('https://github.com/HotDogCat0228/2023-week8/blob/gh-pages/assets/ALPHABOX_-f83e6877.png?raw=true'),url('https://github.com/HotDogCat0228/2023-week8/blob/gh-pages/assets/Rectangle%2034-d2962160.png?raw=true');
      height: 1200px;
      background-size: cover;
    }
    .bg-custom6{
      background-image: url('https://github.com/HotDogCat0228/2023-week8/blob/gh-pages/assets/Rectangle%2024-ef47c490.png?raw=true');
      height: 900px;
    }
  }
  @media (max-width:375px){
    .bg-custom{
      height: 1846px;
    }
    .bg-custom2{
      background-size: cover;
      height: 500px;
    }
    .bg-custom3{
      height: 1000px;
    }
    .bg-custom4{
      height: 1908px;
    }
    .bg-custom6{
      height: 1200px;
    }
  }