.bg-primary{
  background: #6d01f7;
}
.bg-custom{
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/home_background.png?raw=true');
    height: calc(90vh);
    background-size: cover;
  }
  .bg-custom2{
    background-image: url('../../../assets/images/carousel_background.png'),url('../../../assets/images/Rectangle\ 18.png');
    height: 1080px;
    background-size: contain;
    background-repeat: no-repeat, no-repeat;
  }
  .bg-custom3{
    background-image: url('../../../assets/images/Rectangle\ 18.png');
    height: 1080px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .bg-custom4{
    background-image: url('../../../assets/images/ALPHABOX+.png'),url('../../../assets/images/Rectangle\ 23.png');
    height: 1080px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat, no-repeat;
  }
  .bg-custom5{
    background: #1F0F39;
  }
  .bg-custom6{
    background-image: url('../../../assets/images/Rectangle\ 18.png');
    height: 944px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  @media (max-width:992px){
    .bg-custom{
      height: 1200px;
    }
    .bg-custom2{
      background-image: url('../../../assets/images/Rectangle\ 19.png');
      background-size: cover;
      height: 600px;
    }
    .bg-custom3{
      background-image: url('../../../assets/images/Rectangle\ 24.png');
      height: 900px;
    }
    .bg-custom4{
      background-image: url('../../../assets/images/ALPHABOX+.png'),url('../../../assets/images/Rectangle\ 34.png');
      height: 1200px;
      background-size: cover;
    }
    .bg-custom6{
      background-image: url('../../../assets/images/Rectangle\ 24.png');
      height: 900px;
    }
  }
  @media (max-width:375px){
    .bg-custom{
      height: 1846px;
    }
    .bg-custom2{
      background-size: cover;
      height: 500px;
    }
    .bg-custom3{
      height: 1000px;
    }
    .bg-custom4{
      height: 1908px;
    }
    .bg-custom6{
      height: 1200px;
    }
  }