<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
    <title>Document</title>
</head>
<body>
    
    <div class="bg-custom position-relative">
        <%- include('./layout/header'); -%>
        <div class="mb-lg-14 mb-7"></div>
        <div class="container mb-lg-4">
            <div class="row">
                <div class="col-lg-3 d-lg-block d-none">
                    <div class="ai-card1-item">
                        <p class="text-white border-bottom border-white mt-lg-41 mb-lg-14">最新消息！新版本 v15.4 釋出，搶先體驗</p>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <p class="text-white border-top border-white mb-8 d-lg-none d-block">ALPHABOX+ STUDIO</p>
                    <div class="d-flex justify-content-center mb-lg-0 mb-8">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/circle.png?raw=true" alt="ALPHABOX+" class="alphaboxCircle">
                    </div>
                    <div class="d-lg-none d-block mb-8">
                        <h3 class="fs-3 text-center text-custom text-white ">ALPHABOX+</h3>
                        <p class="text-white fs-1 text-center">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
                    </div>
                </div>
                <div class="col-lg-3 d-lg-block d-none">
                    <div class="ai-card1-item">
                        <p class="text-white border-top border-white mb-36">ALPHABOX+ STUDIO</p>
                        <p  style="color:#AD93CF;">Copyright © 2023 Hexschool.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <img class="img-card d-lg-block d-none" src="../assets/images/diane.png" alt="">
                    <img class="img-card d-lg-none d-block mb-4" src="../assets/images/diane_square1.png" alt="">
                    <img class="img-card d-lg-none d-block" src="../assets/images/vito_square1.png" alt="">
                </div>
                <div class="col-6 col-md-6 col-12">
                    <div class="d-lg-block d-none">
                        <h3 class="fs-3 text-center text-custom text-white letter-spacer-20">ALPHABOX+</h3>
                        <p class="text-white fs-1 text-center letter-spacer-4 mb-2">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <img class="img-card d-lg-block d-none" src="../assets/images/karina.png" alt="">
                            <img class="img-card d-lg-none d-block mb-4" src="../assets/images/karina_square1.png" alt="">
                            
                        </div>
                        <div class="col-lg-6 col-12">
                            <img class="img-card d-lg-block d-none" src="../assets/images/felix.png" alt="">
                            <img class="img-card d-lg-none d-block mb-4" src="../assets/images/felix_square1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-lg-10 mb-8">
                    <img class="img-card d-lg-block d-none" src="../assets/images/vito.png" alt="">
                </div>
                <div class="col-12">
                    <div class="border-custom mb-lg-2 mb-4">
                    </div>
                </div>
                <h3 class="text-white fw-bold mb-lg-3 mb-2">什麼是</h3>
                <h3 class="text-white">ALPHABOX+</h3>
            </div>
        </div>
        <div class="border-top border-white mb-lg-8 mb-4">
        </div>
        <div class="container-md">
            <div class="row">
                <div class="col-12">
                        <!-- Slider main container -->
                        <div class="swiper mb-8">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <img src="../assets/images/carousel.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/carousel.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/carousel.png" alt="">
                            </div>
                            ...
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev d-lg-block d-none"></div>
                            <div class="swiper-button-next d-lg-block d-none"></div>
                        </div>
                </div>
                <div class="col-12">
                    <div class="border-custom2">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-custom2 pt-lg-40">
    </div>
    <div class="bg-custom3 pt-lg-40 pb-lg-10 pt-15 pb-20 mb-lg-0 mb-40">
        <div class="container">
            <h3 class="pb-lg-10 pb-8 text-white border-bottom border-white mb-8 mb-lg-10">最新消息</h3>
            <div class="pb-lg-10 pb-8 text-white border-bottom border-white">
                <p class="mb-2">2023.06.30</p>
                <p class="mb-3">產品升級公告</p>
                <div class="d-flex flex-lg-row flex-column">
                    <p>榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、
                        優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
                    <div class="arrow-box" style="width: 196px;">
                        <button class="btn-next">
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-lg-row mb-lg-19 mb-10">
                <div class="py-lg-10 py-8 text-white border-bottom border-lg-end px-lg-4 px-0 border-white w-lg-50">
                    <p class="mb-2">2023.06.30</p>
                    <p class="mb-3">產品升級公告</p>
                    <p class="mb-3">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
                    <div class="arrow-box" style="width: 90px;">
                        <button type="button" class="btn-next">
                        </button>
                    </div>
                </div>
                <div class="py-lg-10 py-8 text-white border-bottom border-white px-lg-4 px-0 w-lg-50">
                    <p class="mb-2">2023.06.30</p>
                    <p class="mb-3">產品升級公告</p>
                    <p class="mb-3">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家
                        居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
                        <div class="arrow-box" style="width: 90px;">
                            <button class="btn-next">
                            </button>
                        </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-lg-24 mb-20">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/circle.png?raw=true" alt="ALPHABOX+" class="alphaboxCircle">
            </div>
            <p class="text-end text-white fw-bold d-none d-lg-block">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
        </div>
    </div>
    <div class="bg-custom4 pt-lg-40 pb-lg-10 pt-15 pb-20">
        <div class="container">
            <div class="row align-items-center mb-4">
                    <div class="col-12 col-lg-4">
                        <h3 class="text-white fw-bold">使用分享</h3>
                    </div>
                    <div class="col-12 col-lg-7 offset-lg-1">
                        <p class="text-white">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
                    </div>
            </div>
            <p class="text-white mb-10">01 - 04</p>
            <img class="mb-6" src="../assets/images/emergency.png" alt="" style="height: 80px; width: 80px;">
            <div #swiperRef="" class="swiper2 overflow-hidden d-lg-block d-none">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="custom-card1">
                            <div class="d-flex mb-8">
                                <p>Zona</p>
                                <p>Taipei</p> 
                            </div>
                            <p class="flex-grow-1">
                                ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                            </p>
                            <p>
                                ALPHABOX+ Dianne    
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="custom-card2">
                            <div class="d-flex mb-8">
                                <p>Zona</p>
                                <p>Taipei</p> 
                            </div>
                            <p class="flex-grow-1">
                                ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                            </p>
                            <p>
                                ALPHABOX+ Dianne    
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="custom-card1">
                            <div class="d-flex mb-8">
                                <p>Zona</p>
                                <p>Taipei</p> 
                            </div>
                            <p class="flex-grow-1">
                                ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                            </p>
                            <p>
                                ALPHABOX+ Dianne    
                            </p>
                    </div></div>
                    <div class="swiper-slide">
                        <div class="custom-card2">
                            <div class="d-flex mb-8">
                                <p>Zona</p>
                                <p>Taipei</p> 
                            </div>
                            <p class="flex-grow-1">
                                ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                            </p>
                            <p>
                                ALPHABOX+ Dianne    
                            </p>
                    </div></div>
                </div>
                <div class="row share-scroll d-flex align-items-center d-lg-flex d-none">
                    <div class="col-8">
                        <div class="swiper-scrollbar mt-12 position-static"></div>
                    </div>
                    <div class="col-4">
                    <div class="d-flex align-items-center">
                      <p class="text-white mb-0">SCROLL</p>
                    </div>
                    </div>
                </div>
            </div>
            
            <p class="text-white  d-lg-block d-none">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
            <ul class="row p-0 d-lg-none d-flex">
                <div class="col-md-6 col-12 mb-4">
                    <li class="custom-card1">
                        <div class="d-flex mb-8">
                            <p>Zona</p>
                            <p>Taipei</p> 
                        </div>
                        <p class="flex-grow-1">
                            ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                        </p>
                        <p>
                            ALPHABOX+ Dianne    
                        </p>
                    </li>
                </div>
                <div class="col-md-6 col-12 mb-4">
                    <li class="custom-card2">
                        <div class="d-flex mb-8">
                            <p>Zona</p>
                            <p>Taipei</p> 
                        </div>
                        <p class="flex-grow-1">
                            ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                        </p>
                        <p>
                            ALPHABOX+ Dianne    
                        </p>
                    </li>
                </div>
                <div class="col-md-6 col-12 mb-4">
                    <li class="custom-card1">
                        <div class="d-flex mb-8">
                            <p>Zona</p>
                            <p>Taipei</p> 
                        </div>
                        <p class="flex-grow-1">
                            ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                        </p>
                        <p>
                            ALPHABOX+ Dianne    
                        </p>
                    </li>
                </div>
                <div class="col-md-6 col-12 mb-4">
                    <li class="custom-card2">
                        <div class="d-flex mb-8">
                            <p>Zona</p>
                            <p>Taipei</p> 
                        </div>
                        <p class="flex-grow-1">
                            ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                        </p>
                        <p>
                            ALPHABOX+ Dianne    
                        </p>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="bg-custom5 px-lg-36 pt-20 pb-15">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <h3 class="text-white fw-bold mb-5">聯絡我們</h3>
                    <div class="d-flex mb-14">
                        <div class="bullet-12 me-2">
                        </div>
                        <div class="bullet-12" style="width: 124px; border-radius: 50px;">
                        </div>
                    </div>
                    <p class="text-white mb-1">讓科技成為您的最佳夥伴</p>
                    <p class="text-white">立即體驗神奇功能並享限時優惠！</p>
                </div>
                <div class="col-12 col-lg-7 offset-lg-1">
                    <img class="mb-4" src="../assets/images/emergency.png" alt="" style="width: 80px; height: 80px;">
                    <input type="email" class="w-100 px-4 py-2 fw-bold mb-4" placeholder="EMAIL">
                    <textarea class="w-100 mb-4" name="" id="" cols="30" rows="10"  placeholder="COMMENTS"></textarea>
                </div>
                <div class="col-12 col-lg-4 offset-lg-8">
                    <button type="button" class="btn py-2 rounded-0 text-white w-100 fs-1 d-flex align-items-center justify-content-center" style="background: #6E01F8;">
                        <span class="material-symbols-outlined fs-1">
                        point_scan
                        </span>
                        <p class="text-white fw-bold vertical-center">送出</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0">
    <div class="col-lg-3 col-6 position-relative">
        <img class="img-fluid" src="../assets/images/diane_vertical.png" alt="VITO">
            <div class="character-card position-absolute start-0 end-0 top-0 bottom-0">
                <p class="fs-64 custom-number text-white mb-5 text-center">1</p>
                <p class="text-custom fs-3 text-white mb-lg-20 mb-3 text-center">Diane</p>
                <p class="text-white">知識型</p>
                <div class="d-flex flex-lg-row flex-column justify-content-lg-between align-items-center">
                    <p class="text-white">學術領導/知識分享/智能問答</p>
                    <div class="d-flex align-items-center w-32 w-lg-100">
                        <button type="button" class="btn-next"></button>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-lg-3 col-6 position-relative">
        <img class="img-fluid" src="../assets/images/felix_vertical.png" alt="VITO">
                <div class="character-card position-absolute start-0 end-0 top-0 bottom-0">
                    <p class="fs-64 custom-number text-white mb-5 text-center">2</p>
                    <p class="text-custom fs-3 text-white mb-lg-20 mb-3 text-center">Felix</p>
                    <p class="text-white">知識型</p>
                    <div class="d-flex flex-lg-row flex-column justify-content-lg-between align-items-center">
                        <p class="text-white">學術領導/知識分享/智能問答</p>
                        <div class="d-flex align-items-center w-32 w-lg-100">
                            <button type="button" class="btn-next"></button>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-lg-3 col-6 position-relative">
        <img class="img-fluid" src="../assets/images/karina_verticalgle.png" alt="VITO">
                    <div class="character-card position-absolute start-0 end-0 top-0 bottom-0">
                        <p class="fs-64 custom-number text-white mb-5 text-center">3</p>
                        <p class="text-custom fs-3 text-white mb-lg-20 mb-3 text-center">Karina</p>
                        <p class="text-white">知識型</p>
                        <div class="d-flex flex-lg-row flex-column justify-content-lg-between align-items-center">
                            <p class="text-white">學術領導/知識分享/智能問答</p>
                            <div class="d-flex align-items-center w-32 w-lg-100">
                                <button type="button" class="btn-next"></button>
                            </div>
                        </div>
                    </div>
    </div>
    <div class="col-lg-3 col-6 position-relative">
        <img class="img-fluid" src="../assets/images/vito_vertical.png" alt="VITO">
                        <div class="character-card position-absolute start-0 end-0 top-0 bottom-0">
                            <p class="fs-64 custom-number text-white mb-5 text-center">4</p>
                            <p class="text-custom fs-3 text-white mb-lg-20 mb-3 text-center">Vito</p>
                            <p class="text-white">知識型</p>
                            <div class="d-flex flex-lg-row flex-column justify-content-lg-between align-items-center">
                                <p class="text-white">學術領導/知識分享/智能問答</p>
                                <div class="d-flex align-items-center w-32 w-lg-100">
                                    <button type="button" class="btn-next"></button>
                                </div>
                            </div>
                        </div>
    </div>
                
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="../assets/script/swiper.js"></script>
</body>
</html>